@model ServiceLink.ViewModels.BookingCreateViewModel


@{
    ViewData["Title"] = "Request Booking";
}

<div class="container py-4">

    <div class="mb-4 p-3 border rounded bg-light">
        <h4 class="mb-1">Booking Service</h4>
        <p class="mb-0 text-muted">
            You are requesting a booking for:
            <strong>@ViewBag.ServiceTitle</strong>
        </p>
    </div>

    <form asp-controller="Bookings" asp-action="Create" method="post">
        @Html.AntiForgeryToken()

        <input type="hidden" asp-for="ServiceId" />

        <div class="form-group">
            <label asp-for="RequestedFor"></label>
            <input asp-for="RequestedFor" type="datetime-local" class="form-control" />

        </div>

        <div class="form-group">
            <label asp-for="Notes"></label>
            <textarea asp-for="Notes" class="form-control"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">
            Book Service
        </button>
    </form>


</div>
